@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-audiowide: 'Audiowide';
  --MajorelleBlue: #4F46E5;
  --GoldenYellow: #FFDE00;
  --RedOrange: #FF521B;
  --XiketicBlack: #020122;
  --SnowWhite: #FFFBFF;
  --MutedGray: #E5E4E3;
  --CulturedBlue: #EDF2F4;
}

/* REMOVE NUMBER INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Customize checkbox */
