@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --font-audiowide: 'Audiowide';
  --MajorelleBlue: #4F46E5;
  --GoldenYellow: #FFDE00;
  --RedOrange: #FF521B;
  --XiketicBlack: #020122;
  --SnowWhite: #FFFBFF;
  --MutedGray: #F3F2EE;
}